services:
  iris_dev:
    container_name: iris_dev
    build:
      context: ./
      dockerfile: docker/dev/Dockerfile
    image: iris_dev
    volumes:
      - ./bin:/root/iris/bin
      - ./build:/root/iris/build
      - ./data:/root/iris/data
      - ./include:/root/iris/include
      - ./libs:/root/iris/libs
      - ./refs:/root/iris/refs
      - ./scripts:/root/iris/scripts
      - ./src:/root/iris/src
      - ./tests:/root/iris/tests
